.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.keyboard {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(15, 50px);
  grid-auto-rows: 50px;
  grid-gap: 6px;
}

.keyboard [data-lang] {
  display: none;
}

.keyboard[data-lang=eng] [data-lang=eng] {
  display: block;
}

.keyboard[data-lang=rus] [data-lang=rus] {
  display: block;
}

.keyboard__btn {
  position: relative;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #ccc;
  background-color: #333;
  border: none;
  cursor: pointer;
}

.keyboard__btn:hover:not(:active) {
  filter: brightness(120%);
}

.keyboard__btn--2-columns {
  grid-column: span 2;
}

.keyboard__btn--6-columns {
  grid-column: span 6;
}

.keyboard__btn--service-btn {
  color: #eee;
  background-color: #555;
}

.keyboard__btn__additional-char {
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 16px;
}

.keyboard__btn--pressed {
  background-color: blue;
  color: #fff;
}

.keyboard-output {
  width: 600px;
  min-height: 300px;
}